/* Header/NAV */
body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #ECECF2;
    height: 170px;
    border: 2px solid red;
}

.header-content {
    display: inline-flex;
    gap: 50%;
    border: 2px solid green;
    width: 100%;
}

.logo {
    max-width: 191px;
    max-height: 120px;
    margin-left: 35px;
    margin-top: 25px;
}

nav li {
    text-decoration: none;
    display: inline-flex;
    border: 2px solid orange;
}

ul {
    border: 2px solid purple;
    margin-top: 27%;
    margin-right: 3rem;
}

.navMenu {
    margin-top: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

nav {
    margin-right: 5rem;
}




/* Main content  */

/* main {
    height: 100vh;
    border: 2px solid green;
}

.background {
    background-image: url(/images/galaxy-g2354ae87c-1920_unGbWDsi\ \(1\).jpg);
    background-size: cover;
    filter: brightness(40%);
    height: 100vh;
    border: 2px solid pink;
} */

/* Footer  */