/* Mobile view  */

body {
    font-family: oswald, arial, Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 70px;
    background: #ECECF2;
}

nav,
#menu-check {
    display: none;
    width: 100%;
    text-align: center;
}


#menu-check:checked~nav {
    display: block;
}

nav a {
    display: block;
    color: #2B2B2B;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1em;
    padding: 10px 20px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

header {
    position: relative;
}

nav {
    position: absolute;
    background: #ECECF2;
}



/* Header/NAV */


/* header {
    background-color: #ECECF2;
    height: 140px; */
*/
/* border: 2px solid red; */
/* box-shadow: 0px 1px #00000075; */
/* } */

/* .header-content { */
/* display: inline-flex; */
/* gap: 40%; */
/* border: 2px solid green; */
/* width: 100%; */
/* align-items: center; */
/* } */

/* .logo {
    max-width: 170px;
    max-height: 99px;
    margin-left: 70px;
    margin-top: 25px;

}

nav li {
    display: inline-flex; */
/* border: 2px solid orange; */
/* }


.navMenu {
    margin-top: 4.9rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    font-family: oswald, arial, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: #2B2B2B;
    font-weight: 600;
    text-transform: uppercase;
} */



/* Main content  */

/* main {
    height: 100vh;
    border: 2px solid green;
}

.background {
    background-image: url(/images/galaxy-g2354ae87c-1920_unGbWDsi\ \(1\).jpg);
    background-size: cover;
    filter: brightness(40%);
    height: 100vh;
    border: 2px solid pink;
} */

/* Footer  */